@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  display: grid;
  place-items: center;
 
}


.container{
  background: #fff;
  position: relative;
  width: 100%;
  top: 100px;
  border-radius: 20px;
  box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}

.container::before{
  content: '';
  background: #EFEBFD;
  position: absolute;
  width: 70%;
  height: 130%;
  border-radius: 20px;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.search-input{
  padding: 40px;
}
.input{
  width: 70%;
  height: 40px;
}
.btn{
  width: 30%;
  height: 40px;
  background: #281A51;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;

}
.btn:hover{
  background: #180f33;
}
.btn span{
  margin-left: 5px;
}
.jobs-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 40px;
  padding-top:10px;
}
.box{
  text-align: center;
  border-radius: 5px;
  text-transform: capitalize;
  
}

.box-job{
  text-align: center;
}
.text-job{
  font-size: 16px;
}

.box span{
  font-size: 20px;
  display: block;
  margin-top: 10px;
}
.box-job-0{
  background: #ffecec;
}
.box-job-0:hover{
  background: #746464;
  color: white;
}
.box-job-1{
  background: #f7ecff;
}
.box-job-1:hover{
  background: rgb(131, 94, 94);
  color: white;
}
.box-job-2{
  background: #ecf0ff;
}
.box-job-2:hover{
  background: #a2a7ba;
  color: white;
}
.box-job-3{
  background: #d7f9f3;
}
.box-job-3:hover{
  background: #87c1b7;
  color: white;
}
.box-job-4{
  background: #e2ffd4;
}
.box-job-4:hover{
  background: #a0c090;
  color: white;
}
.box-job-5{
  background: #dbd5ec;
}
.box-job-5:hover{
  background: #a199b9;
  color: white;
}
.box-job-6{
  background: #fff3c9;
}
.box-job-6:hover{
  background: #daca92;
  color: white;
}
.box-job-7{
  background: #ffd9c9;
}
.box-job-7:hover{
  background: #a9887a;
  color:white;
}
