@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  display: grid;
  place-items: center;
 
}


.container{
  background: #fff;
  position: relative;
  width: 100%;
  top: 100px;
  border-radius: 20px;
  box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}

.container::before{
  content: '';
  background: #EFEBFD;
  position: absolute;
  width: 70%;
  height: 130%;
  border-radius: 20px;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.search-input{
  padding: 40px;
}
.input{
  width: 70%;
  height: 40px;
}
.btn{
  width: 30%;
  height: 40px;
  background: #281A51;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;

}
.btn:hover{
  background: #180f33;
}
.btn span{
  margin-left: 5px;
}
.jobs-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 40px;
  padding-top:10px;
}
.box{
  text-align: center;
  border-radius: 5px;
  text-transform: capitalize;
  
}

.box-job{
  text-align: center;
}
.text-job{
  font-size: 16px;
}

.box span{
  font-size: 20px;
  display: block;
  margin-top: 10px;
}
.box-job-0{
  background: #ffecec;
}
.box-job-0:hover{
  background: #746464;
  color: white;
}
.box-job-1{
  background: #f7ecff;
}
.box-job-1:hover{
  background: rgb(131, 94, 94);
  color: white;
}
.box-job-2{
  background: #ecf0ff;
}
.box-job-2:hover{
  background: #a2a7ba;
  color: white;
}
.box-job-3{
  background: #d7f9f3;
}
.box-job-3:hover{
  background: #87c1b7;
  color: white;
}
.box-job-4{
  background: #e2ffd4;
}
.box-job-4:hover{
  background: #a0c090;
  color: white;
}
.box-job-5{
  background: #dbd5ec;
}
.box-job-5:hover{
  background: #a199b9;
  color: white;
}
.box-job-6{
  background: #fff3c9;
}
.box-job-6:hover{
  background: #daca92;
  color: white;
}
.box-job-7{
  background: #ffd9c9;
}
.box-job-7:hover{
  background: #a9887a;
  color:white;
}
